@use './global.scss';

// 1. 变量定义（颜色、字体、间距等）
$system-font-stack:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Noto Sans',
  'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

$color-primary: #8342b8;
$color-text: #333;
// 2. 全局基础样式
html,
body {
  font-family: $system-font-stack;
  font-size: 16px; // 1rem = 16px
  line-height: 1.5;
  color: $color-text;
  -webkit-font-smoothing: antialiased; // 让字体边缘更平滑，减少锯齿感。
  -moz-osx-font-smoothing: grayscale; // 使用灰度抗锯齿，而不是亚像素抗锯齿。
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#vue-app {
  width: 100%;
  height: 100%;
}

a {
  color: $color-primary;
  text-decoration: none;
}

img {
  display: block;
  border: none;
}

/* 
预定的 CSS 类，用于特定功能
*/
.err {
  color: red;
}

.no-select {
  @include global.no-select;
}

.allow-select {
  @include global.allow-select;
}
